 Exclude build artifacts except for the library
/build/*
!/build/lib/
!/build/lib/libRPC.so

# Exclude binary files
Client/main_client
Server/main_server

# Exclude IDE-specific files
.vscode/

# Exclude temporary files
*.tmp
*.bak
*.swp

build_and_run.sh