 Exclude build artifacts except for the library
# Exclude binary files
Client/main_client
Client/error_log.txt
Server/main_server
Server/test.txt
Server/test_file_0.txt
Server/test_file_1.txt
Server/test_file_2.txt
Server/test_file_3.txt
Server/test_file_4.txt
Server/error_log.txt



# Exclude IDE-specific files
.vscode/

# Exclude temporary files
*.tmp
*.bak
*.swp

#Exclude the build file because the libRPC.so and header files are in the release archive
build

#Exclude this script because is only for local usage 
build_and_run.sh

#The user doesn't need the script for making an archive from the library and headers
package.sh
rpc_package.tar.gz

RPC/certificate.crt 
RPC/private.key
Server/test.txt

#The user doesn't need the folder for the archive
rpc_package
install_rpc.sh