 Exclude build artifacts except for the library
# Exclude binary files
Client/main_client
Server/main_server

# Exclude IDE-specific files
.vscode/

# Exclude temporary files
*.tmp
*.bak
*.swp

#Exclude the build file because the libRPC.so and header files are in the release archive
build

#Exclude this script because is only for local usage 
build_and_run.sh

#The user doesn't need the script for making an archive from the library and headers
package.sh

RPC/certificate.crt 
RPC/private.key
Server/test.txt

#The user doesn't need the folder for the archive
rpc_package